* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Inter";
    border: unset;
}

*:focus {
    outline: none;
}

html {
    font-size: 0.625em;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-light-grey);
    margin: 0;

}

:root {
    --primary-dark-blue: rgb(42, 54, 71);
    --secondary-dark-blue: rgb(9, 25, 49);
    --primary-grey-sidebar: rgb(205, 205, 205);
    --secondary-grey-sidebar: rgb(168, 168, 168);
    --hover-blue: rgb(41, 171, 226);
    --primary-light-grey: rgb(246, 247, 248);
    --light-grey-placeholder: rgba(209, 209, 209, 0.5);
    --menu-navy-blue: rgb(67, 83, 112);
    --sidebar-width: 23.2rem;
    --header-height: 9.6rem;
    --mobile-navbar-height: 8rem;
    --lable-turquoise: rgb(31, 215, 193);
    --progress-bar-blue: rgb(69, 137, 255);
    --error-field-required: rgb(255, 129, 144);
}

.d-none {
    display: none !important;
}

.w3-header {
    width: 100%;
}

.main-container-index {
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light-grey);
}

.sing-up-header {
    width: 62%;
    position: absolute;
    right: 2rem;
    top: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 30px;
}

.log-container {
    width: 65.2rem;
    height: 53.3rem;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background-color: white;
    border-radius: 30px;
}

.log-in-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: log-in-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes log-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.log-in-container h1 {
    margin-top: 4.8rem;
    font-size: 6.1rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
}

.log-in-underline {
    background-color: var(--hover-blue);
    height: 3px;
    width: 15rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.log-in-input-container {
    display: flex;
    flex-direction: column;
    width: 42.2rem;
    gap: 3.2rem;
}

.log-in-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: solid 2px;
    padding: 1px;
    border-color: var(--light-grey-placeholder);
    margin-top: 1rem;
    gap: 8px;
    height: 4.8rem;
}

.log-in-input-box input {
    width: 80%;
    border: none !important;
    height: 100%;
    cursor: pointer;
    border-color: white;
    font-size: 2rem;
}

.log-in-input-box input::placeholder {
    color: var(--light-grey-placeholder);
}


.log-in-checkbox {
    display: flex;
}


input[type="checkbox"] + label {

    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1.6rem;
    width: 44rem;
    height: 3.2rem;
}


input[type="checkbox"] {
    position: relative;
    left: 1.5rem;
    top: -0.4rem;
    z-index: 0;
    appearance: none;
}


input[type="checkbox"] + label::before {
    width: 2.2rem;
    height: 1.9rem;
    background-image: url("./assets/img/chechbox.svg");
    background-repeat: no-repeat;
	background-size: contain;
    display: block;
    content: "";
    float: left;
    margin-right: 1.6rem;
    z-index: 5;
    position: relative;
}


input[type="checkbox"]:checked + label::before {
    background-image: url("./assets/img/checkbox_checked.svg");

}

.btn-log-in-container {
    width: 32.2rem;
    height: 4.8rem;
    gap: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.8rem;
}

.btn-log-in {
    width: 11rem;
    height: 4.8rem;
    background-color: var(--primary-dark-blue);
    font-size: 2.1rem;
    font-weight: 700;
    border-radius: 8px;
    color: white;
}

.btn-log-in:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
    border-width: 0;
    box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
}

.btn-log-in-guest {
    width: 17.7rem;
    height: 4.8rem;
    background-color: white;
    font-size: 2.1rem;
    font-weight: 700;
    border-radius: 8px;
    color: var(--primary-dark-blue);
    border: 1px solid;
    border-color: var(--primary-dark-blue);
}

.btn-log-in-guest:hover {
    cursor: pointer;
    color: var(--hover-blue);
    border-color: var(--hover-blue);
    box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
}

.log-in-msg {
    position: absolute;
    top: 24.2rem;
    left: 22rem;

}

.main-logo {
    width: 31.3rem;
    height: 40.4rem;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveAndResize 1s ease-in-out forwards;
    animation-delay: 250ms;
}

@keyframes moveAndResize {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 31.3rem;
        height: 40.4rem;
    }

    100% {
        top: 6rem;
        left: 7rem;
        transform: translate(0, 0);
        width: 10rem;
        height: 12.1rem;
    }
}

/* sign Up Container */

.sing-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.sing-up-container h1 {
    font-size: 6.1rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 4.8rem;
    margin-bottom: 1.8rem;
}

.sing-up-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 42.2rem;
}

.sing-up-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.left-arrow {
    position: absolute;
    top: 6rem;
    left: 5rem;
    width: 5.2rem;
    height: 5.2rem;
}

.left-arrow:hover {
    scale: 1.2;
}

.height-sing-up {
    height: 68.4rem !important;
}

.sign-up-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
    margin-left: auto;
    margin-right: auto;
}

#message {
    margin-inline: auto;
}

.sing-up-check-box {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    justify-content: center;
}

.btn-sign-up {
    width: 11rem;
    height: 4.8rem;
    background-color: var(--primary-dark-blue);
    font-size: 2.1rem;
    font-weight: 700;
    border-radius: 8px;
    color: white;
}

.reg-btn {
    background-color: rgb(153 153 153)!important;
}

.btn-sign-up:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
    border-width: 0;
    box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.58);
}

.register-succesful {
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--hover-blue);
}


.footer-text-container{
    width: 100%;
    height: 3.5rem;
    position: absolute;
    bottom: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-text{
    padding: 0.8rem;
    color: #A8A8A8;
    text-decoration: none;
}

.footer-text:hover{
    color: var(--hover-blue);
    font-weight: 900;
}

.sign-up-link{
    text-decoration: none;
    color: var(--hover-blue);
}

.sign-up-link:hover{
    text-decoration: underline;
}

