<nav class="navbar">
    <img class="join-logo-sidebar" src="assets/img/join-logo.svg" alt="Join Logo">
    <section id="menu_sidebar" class="menu-sidebar">
        <a id='summary_link' class="menu-sidebar-button" href="summary.html">
            <img src="assets/img/summary-icon.svg" alt="Summary Icon">
            <div>Summary</div>
        </a>

        <a id='add_task_link' class="menu-sidebar-button" href="add_task.html">
            <img src="assets/img/add-task-icon.svg" alt="Add Task Icon">
            <div>Add Task</div>
        </a>

        <a id='board_link' class="menu-sidebar-button" href="board.html" onclick='selectMenuButton("sidebar_button3")'>
            <img src="assets/img/board-icon.svg" alt="Board Icon">
            <div>Board</div>
        </a>

        <a id='contacts_link' class="menu-sidebar-button" href="contacts.html">
            <img src="assets/img/contacts-icon.svg" alt="Contacts Icon">
            <div>Contacts</div>
        </a>
    </section>
    <section class="privacy-sidebar">
        <a id='privacy_policy_link' class="menu-sidebar-privacy-button" href="privacy_policy.html">Privacy Policy</a>
        <a id='legal_notice_link' class=" menu-sidebar-privacy-button" href="legal_notice.html">Legal notice</a>
    </section>
</nav>